# Copy to a local, untracked file such as ~/.config/hermes-jobs/va-tolling.env
# Do not commit real values.

VDOT_TOLL_URL=https://data.511-atis-ttrip-prod.iteriscloud.com/smarterRoads/tollRoad/I95/current/tollingTripPricing_I95.csv
VDOT_TOLL_TOKEN='YOUR_VDOT_TOKEN_HERE'

PGHOST=127.0.0.1
PGPORT=5434
PGDATABASE=va_tolling
PGUSER=va_tolling_app
PGPASSWORD='YOUR_VA_TOLLING_DB_PASSWORD_HERE'

POLL_TZ=America/New_York
AM_WINDOW=06:00-10:00
PM_WINDOW=15:00-19:00
